@model IEnumerable<Shohinkanri.Models.STOCK>

@{
    ViewBag.Title = "Index";
}

<h2>商品在庫画面</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update_Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRICE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QUANTITY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Update_Date)
    </td>
    <td>
        @Html.ActionLink("編集", "Edit", new { id = item.ID }) |
        @Html.ActionLink("詳細", "Details", new { id = item.ID }) |
        @Html.ActionLink("削除", "Delete", new { id = item.ID })
    </td>
</tr>
    }
    <tr>
        @Html.ActionLink("商品詳細画面へ", "", "SHOHIN" )
    </tr>
</table>
