@model Shohinkanri.Models.SHOHIN

@{
    ViewBag.Title = "Details";
}

<h2>詳細画面</h2>

<div>
    <h4>SHOHIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("編集", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("商品詳細画面へ", "Index")
</p>
